# ===========================================
# GITIGNORE  APP - TYPESCRIPT - API
# ===========================================

# DEPENDENCIAS
# ------------
node_modules/

# ARCHIVOS COMPILADOS
# -------------------
build/
dist/

# ARCHIVOS DE TYPESCRIPT
# ----------------------
*.tsbuildinfo

# LOGS
# ----
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ARCHIVOS DEL SISTEMA OPERATIVO
# ------------------------------
.DS_Store
Thumbs.db
Desktop.ini



